@import './variables.scss';

.background-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-height: 1200px;
    background-color: #000;
    z-index: -2;
    max-width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        opacity: .35;
    }
}

.home-welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    color: #f1f1f1;
    text-align: center;
    max-height: 1200px;
    h1 {
        font-size: 50px;
        margin: 0;
    }
    p {
        max-width: 1000px;
        padding: 0 50px;
        margin: 0;
    }
}

#om-oss {
    min-height: 300px;
}

.om-oss_content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    h2 {
        font-size: 35px;
        font-weight: 600;
        margin: 10px 0;
    }
    p {
        font-size: 17px;
    }
}