@import './variables.scss';
/*
body {
  background-color: #0D0D17 !important;
}*/

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D0D17;
  z-index: -2;
}

.background-objects {
  position: fixed;
  z-index: 0;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  :nth-child(1) {
    opacity: .5;
    width: 700px;
    position: absolute;
    left: -150px;
    bottom: -200px;
  }
  :nth-child(2) {
    opacity: .5;
    position: absolute;
    width: 700px;
    right: -150px;
    top: -200px;
  }
}

.login-form__container {
  width: 450px;
  z-index: 1;
  color: #e7e7e7;
  h1 {
    font-size: 40px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.error {
  color: var(--error);
  font-weight: 600;
}

.company-mark__login {
  position: absolute;
  margin: 0;
  top: 30px;
  left: 40px;
  z-index: 1;
  h2 {
    a {
      color: #e7e7e7df;
      margin: 0;
      text-decoration: none;
      font-family: $f-title;
    }
    margin: 0;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 10px;
    span {
      font-size: 18px;
      color: #e7e7e7df;
    }
  }
}

.login__input {
  font-size: 17px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #c0fdd459;
  border: 1px solid #0000008e;
  padding: 10px 15px;
  margin-bottom: 15px;
  color: #e7e7e7;
  &:focus {
    outline: none;
  }
}

.login_btn {
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 4px;
  background-color: #C0FDD4;
  font-weight: 500;
  font-family: $f-text;
  cursor: pointer;
  &:hover {
    background-color: #90BE9F;
  }
}

.login__options {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  a {
    color: #C0FDD4;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: #90BE9F !important;
      text-decoration: underline;
    }
  }
  .MuiFormControlLabel-label, .MuiButtonBase-root {
    color: #e7e7e7;
  }
}

.user-page {
  background-color: #0D0D17;
  width: 100%;
  min-height: 100vh;
  padding: 50px 5%;
  color: rgb(255, 255, 255);
  p i {
    color: rgba(255, 255, 255, 0.726);
    font-weight: 300;
  }
  * {
    margin: 0;
  }
  ::selection {
    background-color: #d9d9d9;
    color: #212224;
  }
}

// media queries

@media screen and (max-width: 1200px) {
  .background-objects {
    :nth-child(1) {
      opacity: .5;
      width: 450px;
      position: absolute;
      left: -100px;
      bottom: -130px;
    }
    :nth-child(2) {
      opacity: .5;
      position: absolute;
      width: 450px;
      right: -100px;
      top: -130px;
    }
  }
}

@media screen and (max-width: 550px) {
  .login-form__container {
    width: 90%;
    h1 {
      font-size: 30px;
    }
  }
  .login__options  {
    font-size: 13px;
  }
  .login__input {
    font-size: 15px;
  }
}