@import './variables.scss';

.background-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-height: 1200px;
    background-color: #000;
    z-index: -2;
    max-width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        opacity: .3;
    }
}

.home-welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    color: #f1f1f1;
    text-align: center;
    max-height: 1200px;
    h1 {
        font-size: 50px;
        margin: 0;
    }
    p {
        max-width: 1000px;
        padding: 0 50px;
        margin: 0;
    }
}

#om-oss {
    min-height: 300px;
    padding: 50px 5%;
}

.default-container {
    max-width: 1200px;
    margin: 0 auto;
}

.om-oss_container {
    padding-top: 70px;
    h2 {
        font-size: 50px;
        font-weight: 600;
        margin: 10px 0;
    }
    p {
        font-size: 17px;
    }
}

.vårt-team {
    padding-top: 100px;
    padding-bottom: 75px;
}

.vårt-team_header {
    font-size: 40px;
}

.ansatte-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 25px;
    width: min-content;
    margin: 0 auto;
    div {
        max-width: 100%;
        width: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.041);
            opacity: 0.95;
            transition: background-color 300ms, opacity 300ms, transform 300ms;
            &:hover {
                background-color: rgba(0, 0, 0, 0.171);
                opacity: 1;
                transform: scale(1.05);
            }
        }
        h3 {
            margin: 10px 0 0 0;
            color: #212224fa;
        }
        p {
            color: #212224fa;
            margin: 0;
            font-size: 14px;
            i {
                color: #212224cc;
            }
        }
    }
}

.default-2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.three_d-ilustration {
    width: 300px;
    height: 300px;
    background: linear-gradient(135deg, rgba(144,190,159,0.2) 0%, rgba(192,253,212,0.4) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    img {
        width: 70%;
        margin: 0 auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}

.om-oss__text {
    width: calc(100% - 350px);
}

// Media queries

@media screen and (max-width: 1100px) {
    .ansatte-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    .ansatte-container {
        grid-template-columns: repeat(1, 1fr);
    }
}