@import './variables.scss';

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-clr);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $f-title;
}

p, a, input, li {
    font-family: $f-text;
}

h1 {
    font-size: 35px;
}

.tRight {
    text-align: right;
}

#root {
    min-height: 100vh;
    position: relative;
}

::selection {
    background-color: #212224;
    color: #e7e7e7;
}

.text-center {
    text-align: center;
}

[data-tooltip] {
    position: relative;
    &::after {
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        background-color: #fff;
        box-shadow:
            0px 4px 5px 0px hsla(0,0%,0%,0.14), 
            0px 1px 10px 0px hsla(0,0%,0%,0.12), 
            0px 2px 4px -1px hsla(0,0%,0%,0.2);
        border-radius: 4px;
        color: #212224;
        padding: 4px 7px;
        font-size: 12px;
        bottom: calc(50% + 3px);
        left:50%; 
        transform: translate(-50%, 50%);
        white-space: nowrap;
        transform: scale(0);
        transition: transform ease-out 150ms, bottom ease-out 150ms;
    }
    &:hover::after {
        transform: scale(1);
        bottom: calc(100% + 3px);
        left:50%; 
        transform: translate(-50%, -5px);
    }
}

.top-section {
    padding-top: 100px;
}

.go_back_icon {
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: none;
    * {
        margin: 0;
    }
    svg {
        font-size: 20px;
    }
}

.gobackbtn-top-right {
    position: absolute;
    top: 50px;
    left: 100px;
}

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

.notfound-page {
    width: 100%;
    min-height: 100vh;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        max-width: 100%;
        width: 550px;
    }
    h1 {
        font-size: 35px;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .gobackbtn-top-right {
        left: 20px;
    }
}

.fs-50 {
    font-size: 50px;
}

.fs-30 {
    font-size: 30px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-5 {
    margin-bottom: 50px;
}