@import './variables.scss';

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-clr);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar-content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.navbar-items {
    display: flex;
    align-items: center;
    column-gap: 30px;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #212224;
        &:hover {
            color: #212224d2;
            text-decoration: underline;
            text-underline-offset: 7px;
        }
    }
}

.navbar-logo {
    h2 {
        font-weight: 600;
    }
    a {
        text-decoration: none;
        font-weight: 600;
        color: #212224;
        cursor: pointer;
    }
}

.nav-login {
    padding: 4px 15px;
    border-radius: 5px;
    border: 1px solid #212224;
    transition: color 300ms, background-color 300ms;
    a {
        text-decoration: none;
        color: #212224;
        &:hover {
            text-decoration: none;
            color: #f1f7f1;
        }
    }
    &:hover {
        background-color: #212224;
        * {
            color: #f1f7f1;
        }
    }
}